<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Jabakus</name>

  <description>
      A simple Math App.
  </description>

  <author href="https://github.com/benjaminwolkchen/1o1" email="bwolkchen@gmail.com">
      benjamin Wölkchen
  </author>

</widget>
<!-- Config.xml for adobe phonegap build -->