// Fonts
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('/fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }  

// Colors Dark
$primary: #102B3F; // Blue
$primary2: #062726; // Green
$highlight: #E2CFEA; // Pink
$highlight2: #6247AA; // Lila


    

/* Remove browser default stylings */
*{
    margin:0;
    padding:0;
    border:0;
    }

/* Apply own stylings */
html{
    background-color: $primary;
    color: $highlight;
    font-family: 'Roboto', sans-serif;
}

.btn{
    background-color: $highlight2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 25px;

    text-align: center;
    width: 40%;
}


/* Center all elements with that class */
.center{
    text-align: center;
}
.footer{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

a{
    color: $highlight;
}