.button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.is-large{
    padding: 15px 32px;
    font-size: 16px;
}
.is-primary{
    background-color: #2a3d66;
}